@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}

.nav {
  position: fixed;
  width: 408px;
  height: 408px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 102;
  background: transparent;
  padding: 30px;
  border-radius: 25px;
  box-shadow: rgba(85, 12, 12, 0.1);

  transition: all 0.4s ease-out;
}
.button {
  color: #fff;
}

.button {
  padding: 10px 40px;
  border: 2px solid #f0eef3;
  background: transparent;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 103px;
  margin-top: 162px;
}

.button:active {
  transform: scale(0.98);
}

/* Home */

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("iMovie.png");
  background-size: cover;
  background-position: center;
}
.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* Form */
.form_container{
  position: fixed;
  width: 408px;
  height: 408px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 30px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input_box {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 60px;
}

.input_box input {
  height: 80%;
  width: 100%;
  border: 2px solid #aaaaaa;
  outline: none;
  padding: 0 20px 0 35px;
  color: #333;
  transition: all 0.2s ease;
  border-radius: 8px;
  box-shadow: #7d2ae8;
}

.input_box input:focus {
  border-color: #7d2ae8;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.user{
  left: 1px;
  top: 47%;
  transform: translateY(-50%);
}
.input_box i.email,
.input_box i.password {
  left: 10px; 
  top: 40%; 
  transform: translateY(-50%);
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #7d2ae8;
}
.input_box i.pw_hide {
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
}
.option_field {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.form_container a {
  color: #7d2ae8;
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
  margin-left: 10px;
}
.checkbox input {
  accent-color: #7d2ae8;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.form_container .button {
  background: #7d2ae8;
  margin-left: 85px;
  margin-top: 30px;
  width: 50%;
  padding: 10px 0;
  border-radius: 10px;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 6px;
}
.answer {
  text-align: center;
  margin-top: 0; /
}
.form_container .login_title {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
  margin-top: 1OPX;
  margin-bottom: 30px; 
}

.reset_Form,
.security_form2,
.security_form {
  display: none;
  position: fixed;
  width: 408px;
  height: 408px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 102;
  background: #fff;
  padding: 30px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .reset_Form,
.home.show .security_form2,
.home.show .security_form {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.reset_Form.active,
.security_form2.active,
.security_form.active {
  display: block;
}

.question_icon {
  font-size: 40px;
  margin-left: 10px; 
  margin-top: -5px;
}
.button1{
  background-color: #7d2ae8;
  color: #fff;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; 
  margin-left: auto;
  margin-right: auto; 
  display: block; 
}

.security_form button{
  background-color: #7d2ae8;
  color: #fff;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px; 
  margin-left: auto;
  margin-right: auto; 
  display: block; 
}
.buttonlogin,
.reset_Form Button,
.security_form2 button {
  background-color: #7d2ae8;
  color: #fff;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px; 
  margin-left: auto;
  margin-right: auto; 
  display: block;
}
.p1{
  margin-left: 20px;
  margin-bottom: 20px;
}
.p2{
  margin-left: 20px;
}
.p4{
  margin-left: 80px;
  margin-bottom: 80px;
}
.p3{
  margin-top: 80px;
  margin-left: 10px;
}

.reset_Form h2{
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;

}
.security_form2 h2{
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.security_form h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
}

.signup_form h2 {
  font-size: 20px;
  text-align: center;
  margin-top: -12px;
  margin-bottom: 10px;
}

.reset_Form button:hover,
.security_form2 button:hover,
.security_form button:hover {
  background-color: #6a2493;
}
.security_form2 .login_signup {
  margin-top: 15px;
}
.security_form .login_signup {
  margin-top: 5px;
}
.security_form2 .login_signup a,
.security_form .login_signup a {
  color: #7d2ae8;
  text-decoration: none;
}
.security_form2 .login_signup a:hover,
.security_form .login_signup a:hover {
  text-decoration: underline;
}
.close_icon4,
.close_icon3 {
  margin-left: 339px;
  margin-top: -23px;
  margin-bottom: -15px;
  cursor: pointer;
  font-size: 27.5px;
  color: #202020;
  opacity: 0.8;
  font-weight: 350;
}
.password-warning {
  color: red;
  font-size: 12px;
}
.resetSuc_Form {
  display: none;
}
.homepage {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("iMovie.png");
  background-size: cover;
  background-position: center;
}
.nav21 {
  position: fixed;
  width: 408px;
  height: 408px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 102;
  background: none;
  padding: 30px;
  border-radius: 25px;
  box-shadow: rgba(167, 6, 6, 0.1);

  transition: all 0.4s ease-out;
}
.buttonlog {
  color: #7d2ae8;
  padding: 10px 40px;
  border: 2px solid #7d2ae8;
  background: transparent;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 103px;
  margin-top: 152px;
}
.H{
  font-size: 20px;
  text-align: center;
  margin-top: -12px;
  margin-bottom: 10px; 
}
.uil-user {
  font-size: 40px;
  margin-left: 10px; 
  margin-top: -5px;
}